body {
    background-image:url("../images/background-image.jpg")
}

.container{
    background-color: darkcyan;
    border: 1px solid white;
    margin-top: 25px
}
.row{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    display: inline-block;
    font-size: large;
}

.socialmedia{
    font-family: david libre;
    font-style: italic;
}

.handles{
    color: lightgrey;

}

.form-row{
    background-color: black;
    padding: 60px;
    margin: 50px;
    color: lightgoldenrodyellow
}

/* Set the background color of body to tan */
.form-row {
    background-color: orangered;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    .form-row {
      background-color: blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .form-row {
      background-color: olive;
    }

    .medias{ 
        padding-top: 25px;
    }